.header {
  color: blue;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.img-header {
  width: 250px;
  margin-bottom: 20px;
  height: auto;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}
* { 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.button {
  margin-top: 20px;
  color: black;
  background-color: antiquewhite;
  height:100px;
  width: 300px;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}
.a-traitim {
  font-size: 32px;
  color: black;
  text-decoration: none;
  padding:32px;
}

.red {
  background-color: red;
}

.pink 
{
  background-color: pink;
}